
#bg-image {
 
 background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}

#mainNavbar{
height: 100px;
width: 100%;
background-color: rgba(0, 0, 0, 0.75);
 font-size: 2.5rem;
  font-weight: 100;
  font-family: 'Exo 2', sans-serif;
}
h1{
    font-family: 'Cuprum', sans-serif;
    color: white;
    
}
h2{
  font-size: 45px;
   font-family: 'Cuprum', sans-serif;
    color:white;
    padding-bottom: 10px;
    padding-top: 10px;

}
input{
  margin-left: -22px;
  border-radius: 5%;
  margin-bottom: 10px;
}
.btn-primary {
background-color: black;
border-color: black;
padding-top: 0;
padding-bottom: 0;
margin-left: 20px;

}
h3{
  font-size: 40px;
  font-style: bold;
  font-family: 'Cuprum', sans-serif;
    color: white;
  padding-left: 40px;
  padding-top: 10px;
}
h5{
  margin-left: 20px;
}

#todo-error{
  color: red;
  font-size: 2em;
}

#current-weather {
  text-align: center;
  border-radius: 5%;
  justify-self: end;
  float: right;
  background-color: rgba(0, 0, 0, 0.75);
  flex-wrap: wrap-reverse;
 font-family: 'Cuprum', sans-serif;
   margin-top: -250px;
   color:white;
   /* margin-left:20px; */
  
  
}

/* .ToDo-List{
  align-content: center;
   display: inline-block;
  vertical-align: middle;
  justify-content: center; 
  flex-direction: column;
  font-family: 'Exo 2', sans-serif;
} */
#TODO-CARDS{
    /* background-color:black;
  border: 2px solid rgb(25, 176, 231); */
font-size: 12px;
font-family: 'Cuprum', sans-serif;
 margin: 6px;
 
}
#todo-error{
  margin-top:-200px;
}
#form{
-ms-flex-item-align: center;
font-family: 'Exo 2', sans-serif;

}
.TO-DO{
  padding:.25rem;
  /* margin-bottom: 5px;
  margin-top: 5px; */
}
#FORM{
  padding-top: 200px;
  padding-left:42px;
  align-items: baseline;
}
#REMINDERS {
  overflow-y: scroll;
border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.75);
  height: 500px;
  width: 250px;
 margin-top: 120px;
  align-content: center;
  justify-content: center; 
 margin-left:40px;

  
}
.word-reminder{
  padding-left:30px;
}
.navbar-brand{
  font-size: 45px;
}
#Quote{
  align-items: flex-end;
margin-top: 420px;
}
#current-quote{
  border-radius: 5px;
   text-align: center;
  background-color: rgba(0, 0, 0, 0.55);
  -ms-flex-item-align: center;

font-family: 'Cuprum', sans-serif;
  color:rgb(255, 255, 255);
}
p{
   font-size: 30px;
    font-family: 'Cuprum', sans-serif;
    color:white;
  padding-left:5px; 
  padding-right: 5px;
  padding-bottom:10px; 

  font-kerning: 10px;
}

