
#Image {
   height: 100vh;
  width: 100vw;
 background-repeat: no-repeat, repeat;
  background-size: cover;
  background: center;
  background-position: fixed;
  
}

#mainNavbar{
height: 100px;
width: 100%;
background-color: black;
 font-size: 2.5rem;
  font-weight: 100;
  font-family: 'Exo 2', sans-serif;
}
h1{
    font-family: 'Exo 2', sans-serif;
    color: rgb(0, 0, 0);
    
}
p{
  font-size: 40px;
    font-family: 'Exo 2', sans-serif;
    color: rgb(0, 0, 0);
  padding-left:5px;
}

#todo-error{
  color: red;
  font-size: 2em;
}

#current-weather {
  border-radius: 5%;
  justify-self: end;
  float: right;
  background-color: rgb(244, 245, 245);
  flex-wrap: wrap-reverse;
  font-family: 'Exo 2', sans-serif;
   margin-top: -700px;
   color: black;
   margin-left:20px;
  
  
}

/* .ToDo-List{
  align-content: center;
   display: inline-block;
  vertical-align: middle;
  justify-content: center; 
  flex-direction: column;
  font-family: 'Exo 2', sans-serif;
} */
#TODO-CARDS{
    background-color: rgb(25, 176, 231);
  border: 2px solid rgb(25, 176, 231);
font-size: 12px;
 font-family: 'Exo 2', sans-serif;
 margin: 3px;
 
}
#todo-error{
  margin-top:-200px;
}
#form{
-ms-flex-item-align: center;
font-family: 'Exo 2', sans-serif;

}
#FORM{
  padding-top: 200px;
  padding-left:42px;
  align-items: baseline;
}
#REMINDERS {
  overflow-y: scroll;
  border: solid 1px black;
  background-color: white;
  height: 800px;
  width: 300px;
  margin-top:-1300px;
  
  align-content: center;
  justify-content: center; 
 margin-left:40px;
  
}
.word-reminder{
  padding-left:30px;
}
.navbar-brand{
  font-size: 45px;
}